/* 1.8. Semantic mark-up for all major elements. */
/* 1.9. Validate your html page with W3 validator: https://validator.w3.org/ */
/* 1.10. Appropriate folder structure: images, css. */

body {
	background-color: #A1C5D1;
	color: #135C8A;
	font-family: 'Jaldi', sans-serif;
}

h3 {
	font-size: 1.5em;
}

#profile {
	margin: 50px;

}

#mainHead {
	font-weight: 900;
	display: inline-block;
	padding-left: 25px;
}


/****************************************/
/* COLUMNS for Bio and Links
/****************************************/

.twoCol {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 80%;
}

.colLeft {
	width: 50%;
	margin-left: 100px;
}

.colRight {
	width: 30%;
	height: 550px;
	overflow: auto;
}

.colLeft, .colRight {
	display: inline-block;
	justify-content: space-around;
	flex-wrap: wrap;
}


/****************************************/
/* Placeholder Section
/****************************************/

.placeholder {
	margin: 100px 125px;
}


/****************************************/
/* footer list w links
/****************************************/

ul.myLinks {
	list-style-type: none;
  	text-align: center;
  	justify-content: space-around;
}

ul.myLinks li {
	display: inline-block;
	padding: 14px 16px;
	margin: auto;
}
